@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Inter", system-ui, sans-serif;
  }
}

html,
body {
  min-height: 100dvh;
}

:root {
  --width-slider: calc(100dvw * 2 / 9);
  --ratio: calc(3 / 2);
  --border-color: #fff5;

  --height-nav: 80px;

  @media screen and (max-width: 1023px) {
    --width-slider: calc(100dvw / 3);
    --ratio: 1;

    --height-nav: 52px;
  }

  --i1: cubic-bezier(0.47, 0, 0.75, 0.72);
  --o1: cubic-bezier(0.39, 0.575, 0.565, 1);
  --io1: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  --i2: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  --o2: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --io2: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  --i3: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --o3: cubic-bezier(0.215, 0.61, 0.355, 1);
  --io3: cubic-bezier(0.645, 0.045, 0.355, 1);
  --i4: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  --o4: cubic-bezier(0.165, 0.84, 0.44, 1);
  --io4: cubic-bezier(0.77, 0, 0.175, 1);
  --i5: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  --o5: cubic-bezier(0.23, 1, 0.32, 1);
  --io5: cubic-bezier(0.86, 0, 0.07, 1);
  --i6: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  --o6: cubic-bezier(0.19, 1, 0.22, 1);
  /* --io6: cubic-bezier(1, 0, 0, 1); */
  --io6: cubic-bezier(1, 1, 1, 1);

  --toofar: cubic-bezier(1, 0, 0.53, 1.42);
}
